<ion-header>
  <ion-navbar>
    <ion-title>Messages</ion-title>
    <ion-icon name="create" class="new-message" (click)="newChat()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let conversation of conversations">
      <ion-item button (click)="navChat(conversation)">
      <div *ngFor="let user of conversation.users">
        <h2 *ngIf="user.id != userId">{{user.userName}}</h2>
      </div>
    </ion-item>

    <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteConversation(conversation);">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
