<ion-header>

  <ion-navbar>
    <ion-title>newChat</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for users!"></ion-searchbar>
  <ion-list *ngIf="queryList.length != 0">

    <ion-item *ngFor="let user of queryList">
      <h2>{{user.userName}}</h2>

        <button ion-button clear item-end (click)="startConversation(user)">Add</button>

      </ion-item>

  </ion-list>

  <div class="empty" *ngIf="queryList.length == 0">

  </div>
</ion-content>
